In [1]:
import boto3
import pandas as pd
from io import StringIO
import time

In [2]:
AWS_ACCESS_KEY = "AKIA3SGFMHT5EWYGAJG2"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-southeast-2"
SCHEMA_NAME = "covid_dataset"
S3_STAGING_DIR = "s3://emsicuong-test-bucket/output/"
S3_BUCKET_NAME = "emsicuong-test-bucket"
S3_OUTPUT_DIRECTORY = "output"

In [3]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [4]:
Dict={}
def download_and_load_query_results(client: boto3.client, query_response: Dict) -> pd.DataFrame:
    while True:
        try:
            #Lấy 1000 dòng đầu tiên
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    #s3_client.download_file(bucket, key, file_name)
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [5]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [6]:
response

{'QueryExecutionId': '057fb8e6-e4e4-475c-9305-546ce70d282e',
 'ResponseMetadata': {'RequestId': 'b9695bea-be44-41ee-9ca5-d5d0ade39156',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 23 Apr 2024 09:29:43 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'b9695bea-be44-41ee-9ca5-d5d0ade39156'},
  'RetryAttempts': 0}}

In [7]:
enigma_jhud = download_and_load_query_results(athena_client, response)

In [8]:
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [9]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_country",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
nytimes_data_in_usa_us_county = download_and_load_query_results(athena_client, response)

In [10]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_states",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
nytimes_data_in_usa_us_states = download_and_load_query_results(athena_client, response)

In [11]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_countrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
static_datacountrycode = download_and_load_query_results(athena_client, response)

In [12]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_countrypopulation",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
static_datacountrypopulation = download_and_load_query_results(athena_client, response)

In [13]:
static_datacountrypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [14]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM testing_data_states_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
testing_data_states_daily = download_and_load_query_results(athena_client, response)

In [15]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM testing_data_us_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
testing_data_us_daily = download_and_load_query_results(athena_client, response)

In [16]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM testing_data_us_total_latest",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
testing_data_us_total_latest = download_and_load_query_results(athena_client, response)

In [17]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_states_abv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
static_datastates_abv = download_and_load_query_results(athena_client, response)

In [18]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM hospital_beds",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
hospital_beds = download_and_load_query_results(athena_client, response)

In [19]:
static_datastates_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [20]:
#Sửa lỗi sai tên cột 
new_header = static_datastates_abv.iloc[0] #Lấy dòng đầu để làm header
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [21]:
static_datastates_abv = static_datastates_abv[1:] #Lấy dữ liệu từ dòng thứ 2(dòng 1 là header)
static_datastates_abv.head()

         col0 col1
1     Alabama   AL
2      Alaska   AK
3     Arizona   AZ
4    Arkansas   AR
5  California   CA

In [22]:
static_datastates_abv.columns = new_header #Đặt new_header làm tên cột
static_datastates_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [23]:
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [24]:
testing_data_states_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

# Extract

In [25]:
factCovid1 = enigma_jhud[['fips', 'province_state', 'country_region', 'confirmed', 'deaths', 'recovered', 'active']]
factCovid2 = testing_data_states_daily[['fips', 'date', 'positive', 'negative', 'hospitalizedcurrently', 'hospitalized', 'hospitalizeddischarged']]
factCovid = pd.merge(factCovid1, factCovid2, on='fips', how='inner')

In [26]:
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210307,101327.0,305972.0,147.0,NaN,NaN
1,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210306,101327.0,305972.0,147.0,NaN,NaN
2,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210305,101066.0,305972.0,136.0,NaN,NaN
3,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210304,100867.0,305972.0,171.0,NaN,NaN
4,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210303,100765.0,305972.0,169.0,NaN,NaN

In [54]:
dimRegion1 = enigma_jhud[['fips', 'province_state', 'country_region', 'latitude', 'longitude']]
dimRegion2 = nytimes_data_in_usa_us_county[['fips', 'county', 'state']]
dimRegion = pd.merge(dimRegion1, dimRegion2, on='fips', how='inner')
dimRegion

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York
...,...,...,...,...,...,...,...
45101015,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
45101016,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
45101017,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
45101018,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
45101019,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming

In [28]:
dimHospital = hospital_beds[['fips', 'state_name', 'latitude', 'longtitude', 'hq_address', 'hospital_type', 'hospital_name', 'hq_city', 'hq_state']]

In [29]:
dimDate = testing_data_states_daily[['fips', 'date']]

In [30]:
dimDate.head()

   fips      date
0     2  20210307
1     1  20210307
2     5  20210307
3    60  20210307
4     4  20210307

# Transform

In [31]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

C:\Users\ACER\AppData\Local\Temp\ipykernel_25376\572748324.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

In [32]:
dimDate.head()

   fips       date
0     2 2021-03-07
1     1 2021-03-07
2     5 2021-03-07
3    60 2021-03-07
4     4 2021-03-07

In [33]:
import datetime as dt
dimDate['month'] = dimDate['date'].dt.month
dimDate['year'] = dimDate['date'].dt.year
dimDate['is_weekend'] = dimDate['date'].dt.dayofweek

C:\Users\ACER\AppData\Local\Temp\ipykernel_25376\2198633517.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
C:\Users\ACER\AppData\Local\Temp\ipykernel_25376\2198633517.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
C:\Users\ACER\AppData\Local\Temp\ipykernel_25376\2198633517.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['is_weekend'] = dimDate['date'].dt.dayofweek

In [34]:
dimDate.head() #Monday=0, Sunday=6

   fips       date  month  year  is_weekend
0     2 2021-03-07      3  2021           6
1     1 2021-03-07      3  2021           6
2     5 2021-03-07      3  2021           6
3    60 2021-03-07      3  2021           6
4     4 2021-03-07      3  2021           6

# Load

In [36]:
bucket = 'emsicuong-covid-de-project'
csv_buffer = StringIO()

factCovid.to_csv(csv_buffer)

# Load factCovid table into bucket
s3_resource = boto3.resource(
    's3',
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
)
s3_resource.Object(bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '663FCY8H6FCHZCTP',
  'HostId': 'KoIGYDOmWjCyZUGrp4RmdCnQDiWkdJIs6JsuHVKf0tQrKp4XFdxpBbv5MXSS48XfzgmO3+54khAoUnzzxKTsbA==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'KoIGYDOmWjCyZUGrp4RmdCnQDiWkdJIs6JsuHVKf0tQrKp4XFdxpBbv5MXSS48XfzgmO3+54khAoUnzzxKTsbA==',
   'x-amz-request-id': '663FCY8H6FCHZCTP',
   'date': 'Fri, 19 Apr 2024 16:43:09 GMT',
   'x-amz-version-id': 'lN.76xPdW8nFq53duTGuOPwG9ktCPi6K',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"6372f86ce96858dcb69570e9500bc3c7"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"6372f86ce96858dcb69570e9500bc3c7"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'lN.76xPdW8nFq53duTGuOPwG9ktCPi6K'}

In [55]:
bucket = 'emsicuong-covid-de-project'
csv_buffer = StringIO()

dimRegion.to_csv(csv_buffer)

# Load dimRegion table into bucket
s3_resource = boto3.resource(
    's3',
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
)
s3_resource.Object(bucket, 'output/dimRegion.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'CDP706NN6JXKB3V7',
  'HostId': 'bKBvLqW4Np5jWvHAzO9tVerEHdIvuNVZB7QvYji1JlXs1z/qbmVv9Fo6/406OXpEUOZ1U5bsFvd2oHHt7ooM8g==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'bKBvLqW4Np5jWvHAzO9tVerEHdIvuNVZB7QvYji1JlXs1z/qbmVv9Fo6/406OXpEUOZ1U5bsFvd2oHHt7ooM8g==',
   'x-amz-request-id': 'CDP706NN6JXKB3V7',
   'date': 'Tue, 23 Apr 2024 13:02:28 GMT',
   'x-amz-version-id': 'eQNVIMWwvwL6IiiaBW7YW5fyl4iNwK4J',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"245ccb76e9ea4c1763ece831bc3922a4"',
   'server': 'AmazonS3',
   'content-length': '0',
   'connection': 'close'},
  'RetryAttempts': 3},
 'ETag': '"245ccb76e9ea4c1763ece831bc3922a4"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'eQNVIMWwvwL6IiiaBW7YW5fyl4iNwK4J'}

In [37]:
bucket = 'emsicuong-covid-de-project'
csv_buffer = StringIO()

dimHospital.to_csv(csv_buffer)

# Load dimHospital table into bucket
s3_resource = boto3.resource(
    's3',
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
)
s3_resource.Object(bucket, 'output/dimHospital.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'XGDDYSEDCW2GG662',
  'HostId': 'VdV2M9by/paN5xWfyAkZ1KcZnv9BLgiyGna4ogKXpP0PbWpWBC2CCPrYD8RnQRPmzuthlul48bVy4EJEF7e/ydXZfHXUAOn/iKB9kmpFfOQ=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'VdV2M9by/paN5xWfyAkZ1KcZnv9BLgiyGna4ogKXpP0PbWpWBC2CCPrYD8RnQRPmzuthlul48bVy4EJEF7e/ydXZfHXUAOn/iKB9kmpFfOQ=',
   'x-amz-request-id': 'XGDDYSEDCW2GG662',
   'date': 'Fri, 19 Apr 2024 09:04:48 GMT',
   'x-amz-version-id': 'O9hvw9zzZla9ISizwMrxmsKtCnEiQyrv',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"3e09cec2d0c1cc0b01a8182608cfa78d"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"3e09cec2d0c1cc0b01a8182608cfa78d"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'O9hvw9zzZla9ISizwMrxmsKtCnEiQyrv'}

In [35]:
bucket = 'emsicuong-covid-de-project'
csv_buffer = StringIO()

dimDate.to_csv(csv_buffer)

# Load dimDate table into bucket
s3_resource = boto3.resource(
    's3',
    aws_access_key_id = AWS_ACCESS_KEY,
    aws_secret_access_key = AWS_SECRET_KEY,
)
s3_resource.Object(bucket, 'output/dimDate.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'J2VXV8MQMH150ZP2',
  'HostId': 'Z/KpGgrOd/LxERmb63YgrCOuKu21aPUgOTXlhw1LN3eiWFWHRpxFznyPDbzPisaVkvTbr5fIkDM=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Z/KpGgrOd/LxERmb63YgrCOuKu21aPUgOTXlhw1LN3eiWFWHRpxFznyPDbzPisaVkvTbr5fIkDM=',
   'x-amz-request-id': 'J2VXV8MQMH150ZP2',
   'date': 'Tue, 23 Apr 2024 09:34:02 GMT',
   'x-amz-version-id': 'ArORf7eqbOU36DSP07xgT_h7Pw05SSDY',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"299de8a04fbebbd42c915731afddfb16"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"299de8a04fbebbd42c915731afddfb16"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'ArORf7eqbOU36DSP07xgT_h7Pw05SSDY'}

In [36]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" INTEGER,
  "date" TIMESTAMP,
  "month" INTEGER,
  "year" INTEGER,
  "is_weekend" INTEGER
)

In [42]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" REAL,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [43]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_type" TEXT,
  "hospital_name" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [38]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

# Connect to Redshift

In [37]:
import redshift_connector

In [38]:
HOST = "my-redshift-cluster.csrolwaxiqip.ap-southeast-2.redshift.amazonaws.com"
PORT = "5439"
DATABASE = 'dev'
USER = "awsuser"
PASSWORD = "Nguyencuong7134"


conn = redshift_connector.connect(
    host=HOST,
    port=PORT,
    database=DATABASE,
    user=USER,
    password=PASSWORD
 )

In [39]:
conn.autocommit = True

In [40]:
cursor = conn.cursor()

In [43]:
cursor.execute("""
CREATE TABLE "dimDate" (
    "index" INTEGER,
    "fips" INTEGER,
    "date" TIMESTAMP,
    "month" INTEGER,
    "year" INTEGER,
    "is_weekend" INTEGER
)
""")

In [9]:
cursor.execute("""
CREATE TABLE "factCovid" (
  "index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" REAL,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

In [10]:
cursor.execute("""
CREATE TABLE "dimHospital" (
  "index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_type" TEXT,
  "hospital_name" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

In [49]:
cursor.execute("""
CREATE TABLE "dimRegion" (
  "index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
""")

In [44]:
cursor.execute("""
COPY dimDate 
FROM 's3://emsicuong-covid-de-project/output/dimDate.csv'
credentials 'aws_iam_role=arn:aws:iam::794982890746:role/redshift-s3'
delimiter ','
region 'ap-southeast-2'
IGNOREHEADER 1
""")

In [45]:
cursor.execute("""
COPY factCovid 
FROM 's3://emsicuong-covid-de-project/output/factCovid.csv'
credentials 'aws_iam_role=arn:aws:iam::794982890746:role/redshift-s3'
delimiter ','
region 'ap-southeast-2'
IGNOREHEADER 1
""")

In [46]:
cursor.execute("""
COPY dimHospital 
FROM 's3://emsicuong-covid-de-project/output/dimHospital.csv'
credentials 'aws_iam_role=arn:aws:iam::794982890746:role/redshift-s3'
delimiter ','
region 'ap-southeast-2'
IGNOREHEADER 1
""")

In [56]:
cursor.execute("""
COPY dimRegion 
FROM 's3://emsicuong-covid-de-project/output/dimRegion.csv'
credentials 'aws_iam_role=arn:aws:iam::794982890746:role/redshift-s3'
delimiter ','
region 'ap-southeast-2'
IGNOREHEADER 1
""")

SSLEOFError: EOF occurred in violation of protocol (_ssl.c:2426)

In [52]:
s3 = boto3.client('s3')
df = pd.read_csv('s3://emsicuong-covid-de-project/output/dimRegion.csv', nrows=100)
df

,Unnamed: 0,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,0,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210307,101327.0,305972.0,147.0,NaN,NaN
1,1,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210306,101327.0,305972.0,147.0,NaN,NaN
2,2,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210305,101066.0,305972.0,136.0,NaN,NaN
3,3,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210304,100867.0,305972.0,171.0,NaN,NaN
4,4,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210303,100765.0,305972.0,169.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20201202,53708.0,305972.0,638.0,NaN,NaN
96,96,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20201201,53320.0,305972.0,638.0,NaN,NaN
97,97,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20201130,52545.0,305972.0,622.0,NaN,NaN
98,98,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20201129,51702.0,305972.0,606.0,NaN,NaN
99,99,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20201128,51581.0,305972.0,573.0,NaN,NaN

In [ ]:
import redshift_connector

HOST = "my-redshift-cluster.csrolwaxiqip.ap-southeast-2.redshift.amazonaws.com"
PORT = "5439"
DATABASE = 'dev'
USER = "awsuser"
PASSWORD = "Nguyencuong7134"


conn = redshift_connector.connect(
    host=HOST,
    port=PORT,
    database=DATABASE,
    user=USER,
    password=PASSWORD
 )
 
 conn.autocommit = True
 cursor = conn.cursor()
 
cursor.execute("""
CREATE TABLE "dimDate" (
    "index" INTEGER,
    "fips" INTEGER,
    "date" TIMESTAMP,
    "month" INTEGER,
    "year" INTEGER,
    "is_weekend" INTEGER
)
""")

cursor.execute("""
CREATE TABLE "factCovid" (
  "index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" REAL,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

cursor.execute("""
CREATE TABLE "dimHospital" (
  "index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_type" TEXT,
  "hospital_name" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

cursor.execute("""
CREATE TABLE "dimRegion" (
  "index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
""")

cursor.execute("""
COPY dimDate 
FROM 's3://emsicuong-covid-de-project/output/dimDate.csv'
credentials 'aws_iam_role=arn:aws:iam::794982890746:role/redshift-s3'
delimiter ','
region 'ap-southeast-2'
IGNOREHEADER 1
""")

cursor.execute("""
COPY factCovid 
FROM 's3://emsicuong-covid-de-project/output/factCovid.csv'
credentials 'aws_iam_role=arn:aws:iam::794982890746:role/redshift-s3'
delimiter ','
region 'ap-southeast-2'
IGNOREHEADER 1
""")

cursor.execute("""
COPY dimHospital 
FROM 's3://emsicuong-covid-de-project/output/dimHospital.csv'
credentials 'aws_iam_role=arn:aws:iam::794982890746:role/redshift-s3'
delimiter ','
region 'ap-southeast-2'
IGNOREHEADER 1
""")

cursor.execute("""
COPY dimRegion 
FROM 's3://emsicuong-covid-de-project/output/dimRegion.csv'
credentials 'aws_iam_role=arn:aws:iam::794982890746:role/redshift-s3'
delimiter ','
region 'ap-southeast-2'
IGNOREHEADER 1
""")